.brid-widget-time, .brid-widget-title, .brid-widget-share {
    color: #ccc;
    font-size: 11px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif
}

.bridWidgetWrapper {
    position: absolute;
    position: relative;
    z-index: 1;
    overflow: hidden;
    left: 0;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.bridWidget {
    width: 100%;
    height: 360px;
    display: block;
    visibility: visible;
    overflow: hidden;
    position: relative;
    border: 1px solid transparent;
    background-color: transparent
}

.brid-pl {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 300px;
    overflow: hidden;
    display: none;
    direction: ltr
}

.BridWidgetPlaylist {
    width: 1000px;
    position: relative;
    display: inline-block;
    top: 5px
}

.bridWidgetSmallPlay {
    display: none;
    z-index: 2;
}

.bridWidgetDownArrow {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 16px;
}

.bridWidgetThumb {
    position: relative;
    width: 80px;
    height: 45px;
    cursor: pointer;
    overflow: hidden
}

.BridWidgetEmbed, .BridWidgetShares, .brid-widget-black, .bridClose {
    position: absolute;
    display: none
}

.bridWidgetGoToLeft, .bridWidgetGoToRight {
    width: 28px;
    height: 80px;
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    display: none;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    transition: all .6s cubic-bezier(.165, .84, .44, 1)
}

.brid-widget-time {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    font-weight: 400;
    padding: 1px 10px
}

.brid-widget-black {
    float: left;
    background: #000;
    left: 0;
    top: 0;
    opacity: .5;
    pointer-events: none
}

.bridWidgetGoToLeft {
    left: 0;
    background: url(//cdn.brid.tv/live/widget/img/left_b.svg) 4px no-repeat;
    background-origin: border-box;
    z-index: 2
}

.bridWidgetGoToRight {
    right: 5px;
    background: url(//cdn.brid.tv/live/widget/img/right_b.svg) 4px no-repeat;
    background-origin: border-box
}

.leftIn {
    left: 12px;
    opacity: 1
}

.leftOut {
    left: -20px;
    opacity: 0
}

.rightIn {
    right: 6px;
    opacity: 1
}

.rightOut {
    right: -20px;
    opacity: 0
}

.bridWidgetGoToLeftBlack {
    background: url(//cdn.brid.tv/live/widget/img/left_b.svg) center no-repeat
}

.bridWidgetGoToRightBlack {
    background: url(//cdn.brid.tv/live/widget/img/right_b.svg) center no-repeat
}

.brid-widget-title {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    min-height: 25px;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.brid-widget-mobile.brid-widget-title {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    bottom:auto;
}

.brid-widget-title p{
    line-height: 14px;
    float: left;
    width: calc(100% - 40px);
}

.brid-widget-check {
    width: 30px;
    height: 30px;
    background: url(//cdn.brid.tv/live/widget/img/CheckBox.svg) center no-repeat;

    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -15px;
}

.lrIn {
    -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    -moz-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    -o-transition: all .6s cubic-bezier(.165, .84, .44, 1);
    transition: all .6s cubic-bezier(.165, .84, .44, 1)
}

.bridWidgetSmallPlay {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 65px;
    left: 75px
}

.firstThumb {
    margin-top: 0
}

.brid-widget-shares {
    display: none;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    z-index: 5;
}

.brid-widget-share {
    text-align: center;
    line-height: 30px;
    width: 25%;
    height: 100%;
    float: left;
    cursor: pointer;
    color: #fff;
}

.brid-widget-facebook {
    background-color: #3D5694;
}
.brid-widget-twitter {
    background-color: #00A7E8;
}
.brid-widget-google {
    background-color: #E54E44;
}
.brid-widget-reddit {
    background-color: #CBE1F6;
}


.brid-widget-facebook:active {
    background-color: #4a68b3;
}
.brid-widget-twitter:active {
    background-color: #13c6e8;
}
.brid-widget-google:active {
    background-color: #e5695d;
}
.brid-widget-reddit:active {
    background-color: #d8eaf6;
}

.clear {
    clear: both
}

.ui-input-search, .ui-input-text {
    margin: 0;
    border-width: 0
}

.ui-focus {
    webkit-box-shadow: 0 0 0 #fff !important;
    moz-box-shadow: 0 0 0 #fff !important;
    box-shadow: 0 0 0 #fff !important
}

.bridSmall {
    transition: all .2s ease-in-out
}

.bridWidgetScrollBar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%
}

.BridWidgetScroller {
    width: 6px;
    background-color: #cecece;
    position: relative;
    top: 0;
    border-radius: 3px
}